<div class="page-title bottom-3">
  <div class="container clearfix sidebar">
    <div class="sixteen columns">
      <h1 class="nine columns">Passport Lead-X</h1>
    </div>
  </div>
</div>
<div class=container>
  <div class="sixteen columns">
    <h4 class=text-center>Welcome, Let's Get Started!</h4>
    <form class="form-elements">
      <input ng-model="username" type="text" placeholder="username">
      <input ng-model="password" type="text" placeholder="password">
      <button ng-click="login()" class="button large color">Login</button>
    </form>
  </div>
</div>