<div class="page-title bottom-3">
  <div class="container clearfix sidebar">
    <div class="sixteen columns">
      <h1 class="nine columns">Passport Lead-X</h1>
    </div>
  </div>
</div>
<div class=container>
  <div class="sixteen columns">
    <h4 class=text-center>Welcome, Let's Get Registered!</h4>
    <form class="form-elements">
      <input ng-model="reg.email" type="text" placeholder="email@address.com">
      <input ng-model="reg.username" type="text" placeholder="username">
      <input ng-model="reg.password" type="text" placeholder="password">
      <button ng-click="register()" class="button large color">Register</button>
    </form>
  </div>
</div>